.matching-round {
  margin: 0 auto;
  display: inline-block;
  width: fit-content;
  max-height: fit-content;
}

ul {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  width: fit-content;
  min-height: fit-content;
}

li {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 28px;
  position: absolute;
  top: 20%;
  left: 35%;
  padding: 20px 20px;
  width: 350px;
  height: 450px;
  border: 5px solid #888888;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
  opacity: 100%;
  background: linear-gradient(#FFFFFF,#DDDDDD);
}

li button {
  background: transparent;
  border: none;
  position: relative;
}

.x-out {
  left: -75%;
}

.check {
  right: -75%;
}

li img {
  height: 100px;
  cursor: pointer;
}

li button:focus {
  outline: none;
}

#HIDDEN-RIGHT {
  transform: rotate(45deg) translate(800px,0px);
  opacity: 0%;
  transition: 1.25s ease;
  background: linear-gradient(#FFF,#0D0);
}

#HIDDEN-LEFT {
  transform: rotate(-45deg) translate(-800px,0px);
  opacity: 0%;
  transition: 1.25s ease;
  background: linear-gradient(#FFF,#D00);
}

#HIDDEN-RIGHT img, #HIDDEN-LEFT img {
  opacity: 0%;
}