.thank-you {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%; 
    height: 100%;
    font-family: 'Montserrat';
    /* position: relative; */
    /* margin: 0px; */
    
}

.thank-you header {
    font-family: Baloo Da;
    color: white; 
    font-size: 50px;
    line-height: 60px; 
    -webkit-text-stroke: .2px #363738;
    text-align: center;
    text-transform: none;
    /* margin: 0px; */
}

.thank-you h2 {
    font-size: 60px;
    margin-bottom: 15px;
    text-transform: none;
}
.thank-you h1 {
    font-size: 85px;
    margin: 0px;
}

.thank-you .details {
    display: flex; 
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 45px;
    /* padding: 20px; */
    line-height: 30px;
    
}

.thank-you h3 {
    /* font-family: 'Montserrat'; */
    display: flex; 
    align-items: center;
    line-height: 1.6;
    margin: 0px;
    width: 35%;
    padding: 10px;
    font-size: 27px;
    border: 4px white solid; 
    border-radius: 4px;
    margin-right: 20px;
    text-align: right;
    background: rgba(255, 255, 255, .4)
}

.thank-you h5 {
    /* font-family: 'Montserrat'; */
    font-size: 22px;
    width: 65%;
    padding: 10px;
    margin: 0px;
    border: 4px white solid; 
    border-radius: 4px;
    text-align: justify;
    background: rgba(255, 255, 255, .4)

}

.created-by {
    /* position: absolute; */
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    margin-top:50px;
    font-size: 20px;
    font-family: 'Montserrat';
}

.created-by > a {
    text-decoration: none;
}

.home-link {
    font-family: Baloo Da;
    color: white; 
    font-size: 35px;
    line-height: 60px; 
    -webkit-text-stroke: 2px #363738;
    text-align: center;
    text-transform: none;
    margin-top: 40px;
}

