<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .title {
            display: block;
            height: 50px;
            width: 50px;
            font-size: 50px;
            box-shadow: 2px;
            background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2017%2F02%2Feiffel-tower-paris-france-EIFFEL0217.jpg&q=85');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .header {
            color: rgb(255, 57, 90);
        }

        .sup {
            display: block;
            width: fit-content;
            padding: 10px;
            height: 30px;
            border: 1px solid black;
            cursor: pointer;
        }
    </style>
</head>

<body>
    {{!-- <h2>Hello world</h2> --}}

    <div>
        <a href={{winnerurl}} class='sup'>Dinder</a>
        <p>Sup {{email}}</p>
        <p>You're having dinner at</p>
        <h1 class='header'>{{winner}}</h1>
        <p>here is a picture</p>
        <div class='title'></div>
        {{!-- <h2>Group {session} does not really want you here</h2> --}}
    </div>

</body>

</html>