<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
</head>

<body style="background-image: linear-gradient(#fa81fc, #f6ccf8);padding:25px;">
  <div class="dinder-email" style="font-family:Trebuchet MS (trebuchet ms, sans-serif);color:#363738;font-size:16px;">
    {{!-- <h1 class="logo" style="color:white;font-size:45px;line-height:40px;text-transform:none;text-align:center;">dinder!</h1> --}}
    <img src="cid:logowinner" alt="dinder!" style="width:200px;height:auto;" />
    <p class="greeting" style="color:#363738;font-size:16px;text-decoration:none;">Hi!</p>
    <p class="intro" style="font-size:16px;">Drumroll please.... <br><br>And the winner is <strong>{{winner}}</strong>!<br>
    <br> You'll have to figure
      out timing and reservations yourselves (for now) but we hope this dinder party was helpful in your
      decision making process. Check out our code base on <a href="github.com">github</a> to learn more about Dinder.
    </p>


    <div class="signoff">
      <p style="font-size:16px;">Enjoy!<p>
          <p style="font-size:16px;">-Dinder</p>
    </div>
  </div>

</body>

</html>