<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Da&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- <link rel="stylesheet" type="text/css" href="./style.css"> --}}
  
  <title>Document</title>
</head>
<body style="background-image: linear-gradient(#fa81fc, #f4c1f7);padding:25px;">
    <div class="dinder-email" style="font-family:Trebuchet MS (trebuchet ms, sans-serif);color:#363738;font-size:16px;">
      <h1 class="logo" style="color:white;font-size:45px;line-height:40px;text-transform:none;text-align:center;">dinder!</h1>
      <h2 class="greeting" style="color:#363738;font-size:14px;text-decoration:none;">Hi {{email}},</h2>
      <p class="intro">{{host}} has invited you to a dinder party! <br><br> Click on the link below
        to help decide where you should eat. Gone are the days of your one bossy
        friend picking the restaurant every time, and the days of your flakey friend never
        being able to make up their mind.
      </p>
      <p class="ver-code">To begin your matching round, enter your verification code: <div class="code" style="font-weight:bold;letter-spacing:2px;font-size:18px;">{{sessionCode}}
      </div>
      </p>
      <a class="session-link" style="text-align:center;font-size:16px;font-color:blue;" href={{sessionurl}}><h1 style="text-align:center;font-size:16px;font-color:blue;">Begin matching now!</h1></a>
      <div class="signoff">
        <p>Enjoy!<p>
        <p>-Team Dinder</p>
      </div>
    </div>
  
</body>
</html>