<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div>
      <h1>Hello Host</h1>
      <a href={{sessionurl}} class='sup'>AHHHHHHHHH</a>
      <p>Sup {{email}}</p>
      <p>Here is yo number {{sessionCode}}</p>
      <h1 class='header'>Hey email</h1>
      <p>here is a picture</p>
      <div class='title'></div>
      <h2>Group {session} does not really want you here</h2>
    </div>

</body>
</html>