body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/background.png'), linear-gradient(#fb77fe, #f4b0f7);
    background-size: 30%;
    /* background-repeat: repeat; */
    /* background-image:  ; */
    position: relative;
}

.splash-all {
    width: 100%; 
    height: 100%; 
    /* background-color: #fb7aff; */
    /* background-color: #fab3fc; */
    display: flex; 
    /* background: transparent; */
    flex-direction: column; 
    justify-content: center;
    /* margin: 0 auto; */
}

.header {
    color: white; 
    text-align: center;
    /* text-shadow: 2px 0px 11px grey; */

}

.header h1 {
    /* font-family: 'Major Mono Display'; */
    font-family: Baloo Da;
    font-size: 110px;
    margin: 45px 0px 0px 0px;
    letter-spacing: 4px;
    line-height: 100px; 
    -webkit-text-stroke: .2px #363738;
}

.header h3 {
    font-family: 'Montserrat';
    font-size: 28px;
    margin-top: 0px;
    color: #363738;
}

.about {
    font-family: 'Montserrat';
    color: #363738; 
    max-width: 80%; 
    /* text-align: center; */
    margin: 0 auto;
    font-size: 17px;
    padding: 15px;
    text-align: center;
}

.how-to {
    list-style: none; 
    padding-left: 0px; 
    margin: 0 auto;
    display: flex; 
    flex-direction: row; 
    /* align-items: space-around; */
    text-align: center;
    max-width: 80%;
    /* padding: 30px 0px 10px 0px; */
}

.step-number {
    background-color: white; 
    margin: 0 auto; 
    border-radius: 50%;
    width: 35px;
    height: 35px;
    /* text-align: center; */
    justify-content: center; 
    font-size: 26px;
    font-family: Baloo Da;
    line-height: 1.5;    
    margin-bottom: 10px;
}

.how-to li {
    font-family: 'Hind';
    color: #363738; 
    width: 25%; 
    font-size: 16px;
    /* text-align: center; */
    margin: 0 auto;
    /* font-weight: 200; */
    /* text-shadow: 2px 0px 7px grey; */
    padding: 10px;
    margin: 15px; 
    border: 4px solid white; 
    border-radius: 4px;
    background-color: rgba(200, 200, 200, .4)
}

.how-to span {
    color: #363738;
    font-family: 'Hind';
    font-size: 16px;
    text-shadow: none;
    line-height: 2px;
}

.submit {
    display: flex; 
    justify-content: center;
    /* padding: 45px; */
    /* margin-bottom: 45px; */
}

.get-started {
    margin-top: 10px;
    width: 300px; 
    height: 50px; 
    background-color: white; 
    color: #fa8afc;
    font-family: Baloo Da;
    font-size: 22px;
    border-radius: 5px;
    border: 2px solid #363738;
}

.refresh {
    margin-top: 10px;
    width: 150px; 
    height: 25px; 
    background-color: #fa8afc; 
    color: white;
    font-family: Baloo Da;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #363738;
    line-height: 1.2px;
}

.get-started:hover, .refresh:hover {
    cursor: pointer;
    background-color: rgb(236, 235, 235);
}
.get-started:focus, .refresh:focus {
    outline: none;
}

.visible {
    /* display: block;  */
    /* opacity: 100%;  */
    transition: 1s ease;
    /* position: absolute; */
    z-index: 1;
}

.invisible {
    /* display: none; */
    opacity: 0%;
    position: absolute;
    z-index: 0;
}


