.session-form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
}

.form-inputs {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    margin: 0 auto;

}

.session-form label {
    font-family: 'Montserrat';
    width: 100%;
    display: flex; 
    flex-direction: column;
    /* justify-content: center;  */
    text-align: center;
    margin: 0 auto;
}

.session-form input {
    font-family: 'Montserrat';
    border-radius: 4px; 
    min-width: 150px;
    max-width: 220px;
    width: 40%;
    margin: 4px; 
    padding: 6px;
    font-size: 13px;
    margin: 0 auto;
}

.session-form input:focus {
    outline: none;
}

.search-terms {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
}


.search-terms label {
    padding: 0 15px;
}

.session-form h5 {
    font-family: 'Hind';
    font-size: 12px;
    text-align: center;
    /* margin-top: 5px; */
    margin: 10px 0px 0px 0px;
}

.email-error {
    font-size: 14px;
    font-family: Hind;
    margin: 0;
    color: crimson;
    text-align: center;
    text-decoration: wavy;
    margin-bottom: 10px;
}

label .cuisine, label .neighborhood {
    max-width: 200px;
    margin: 0;
    padding: 0 20px;
}
